/*
 global
*/
* {
    font-family: Arial, Verdana, Helvetica;
    size: 18px;
    line-height: 2em;
}

body {
    background-color: #fff;
}

p {
	margin: 0% auto;
    position: relative;
    line-height: 2em;
}

a, a:active, a:before, a:after, a:visited {
    color: #0073ec;
    text-decoration: none;
} a:hover {
    text-decoration: underline;
}

.logo {
    position: relative;
    margin: 0% auto;
    height: 75px;
    width: auto;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 90vh;
    max-width: 90vw;
}

.card {
    white-space: initial; /* for text-overflow */
    width: 100%;
    height: auto;
}

/*
 search
*/
.search {
	width: min(75vw, 500px);
}

.search_style {
}

.searchable {
	position: relative;
	margin: 5px;
    display: inline-block;
    width: 23em;
    height: auto;
	padding: 10px;
	border: 1px solid #f2f2f2;
}

/*
verticalAlign
*/
.container {
	margin-bottom: 5px;
	background-color: #333;
	color: #fff;
	width: 100% auto;
	padding: 25px;
} .container b {
	color: #f2f2f2;
}

.no-result {
	text-align: center;
	height: auto;
}

.vertical-align-outer {
	display: table;
	width: 100%;
}

.vertical-align {
	display: table-cell;
	vertical-align: middle;
}